h1,
h2,
h3,
p {
  text-align: center;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 60px;
}

weather-info {
  text-align: center;
}

body {
  background-image: url("https://www.deutschland.de/sites/default/files/styles/crop_topic_header_mobile/public/media/image/Region_Arabische_Welt.png?itok=8X5hBh8O");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  width: 50%;
  opacity: 1;
  padding: 30px;
  margin: 30px auto;
  border: 0;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 1px rgb(0 0 0 / 15%);
  text-align: center;
  font-family: "Coming Soon", cursive;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.degrees {
  font-size: 25px;
}

.developer {
  display: block;
  text-align: center;
  color: white;
  line-height: 0%;
}

.locationButton,
.searchButton,
.currentButton {
  border: 0;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 6px 9px;
}

.tempMin,
.degreeSymbol {
  opacity: 0.6;
}

.degrees a {
  outline: none;
  text-decoration: none;
  color: black;
}
.developer a {
  color: white;
}
